.experience-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px;
    justify-content: center;
}

.exp-header {
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 64px;
  }

.experience-card {
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
    /* Each card takes full width */
    transition: transform 0.2s ease-in-out;
}

.experience-card:hover {
    transform: translateY(-5px);
}

.experience-card-header {
    padding: 20px;
    flex-direction: row;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.experience-card-content {
    padding: 20px;
    text-align: left;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    text-align: justify;
}

.company-logo {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 10px;
    border-radius: 50px;
    border-color: crimson;
    border-style: solid;
    border-width: 1px;
}